@model Panaderia.Models.Usuario

@{ ViewBag.Title = "Crear Usuario"; }

<h2>Crear Usuario</h2>

@using (Html.BeginForm())
{
@Html.AntiForgeryToken()

                <div class="form-group">
                    @Html.LabelFor(model => model.nombre)
                    @Html.TextBoxFor(model => model.nombre, new { @class = "form-control" })
                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.correo)
                                    @Html.TextBoxFor(model => model.correo, new { @class = "form-control" })
                                </div>

                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.contrasena)
                                                    @Html.PasswordFor(model => model.contrasena, new { @class = "form-control" })
                                                </div>

                                                                <div class="form-group">
                                                                    @Html.LabelFor(model => model.direccion)
                                                                    @Html.TextBoxFor(model => model.direccion, new { @class = "form-control" })
                                                                </div>

                                                                                <div class="form-group">
                                                                                    @Html.LabelFor(model => model.telefono)
                                                                                    @Html.TextBoxFor(model => model.telefono, new { @class = "form-control" })
                                                                                </div>

                                                                                                <div class="form-group">
                                                                                                    @Html.LabelFor(model => model.rol)
                                                                                                    @Html.TextBoxFor(model => model.rol, new { @class = "form-control" })
                                                                                                </div>

                                                                                                                <button type="submit" class="btn btn-success">Guardar</button>}